<% @twits.each do |twit| %>
    <div class="box">
            <div class="content">
                <strong>Name Surname</strong><br/>
                <small>@email</small><br/>
                <p><%= twit.twit %></p>
            </div>
    </div>
<% end %>
